<h2>{{englishName}}</h2>
<div class="buttonContainer">
  <button id="overviewBtn" class="overviewBtn">overview facts</button>
  <button id="furtherFactsBtn">further facts</button>
</div>
<div id="overviewFacts" class="facts overviewFacts">
  <div class="factsRow1">
    <div data-key="rotationTime">
      <p>rotation time</p>
      <p>{{rotationTime}}</p>
    </div>
    <div data-key="mass">
      <p>mass</p>
      <p>{{mass}}E{{massExponent}}</p>
    </div>
  </div>
  <div class="factsRow2">
    <div data-key="averageTemp">
      <p>average temp</p>
      <p>{{averageTemp}}</p>
    </div>
    <div data-key="gravity">
      <p>gravity</p>
      <p>{{gravity}}</p>
    </div>
  </div>
</div>
<div id="furtherFacts" class="facts furtherFacts">
  <div class="factsRow1">
    <div data-key="revolutionPeriod">
      <p>revolution period</p>
      <p>{{revolutionPeriod}}</p>
    </div>
    <div data-key="meanRadius">
      <p>mean radius</p>
      <p>{{radius}}</p>
    </div>
  </div>
  <div class="factsRow2">
    <div data-key="volume">
      <p>volume</p>
      <p>{{volume}}E{{volumeExponent}}</p>
    </div>
    <div data-key="density">
      <p>density</p>
      <p>{{density}}</p>
    </div>
  </div>
</div>